<style></style>
<main>
  <h1>Historical weather data</h1>
  <div class="options">
    <form
      class="options"
      [formGroup]="weatherOptionsForm"
      (ngSubmit)="submit()"
    >
      <mat-list>
        <div class="subheader" mat-subheader>Data</div>
        <mat-list-item>
          <mat-button-toggle-group
            name="city"
            aria-label="Favorite Color"
            formControlName="city"
          >
            <mat-button-toggle value="warsaw">Warsaw</mat-button-toggle>
            <mat-button-toggle value="prague">Prague</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-list-item>
        <mat-list-item style="margin-top: 1em">
          <div>
            <span style="margin-right: 1em">Days back</span>
            <mat-slider min="1" max="14" step="1" value="1" showTickMarks>
              <input matSliderThumb formControlName="daysBack" />
            </mat-slider>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>
        <div class="subheader" mat-subheader>Display</div>
        <mat-list-item>
          <mat-button-toggle-group
            name="displayType"
            aria-label="Favorite Color"
            formControlName="displayType"
          >
            <mat-button-toggle value="cards">Cards</mat-button-toggle>
            <mat-button-toggle value="graph">Graph</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-list-item>
        <button
          style="margin: auto; margin-top: 2em; display: block"
          mat-flat-button
          color="primary"
          class="submit"
          type="submit"
        >
          Get Data
        </button>
      </mat-list>
    </form>
  </div>
  <div class="display" [ngSwitch]="weatherOptionsForm.value.displayType">
    <div
      class="display-cards"
      [style.display]="
        weatherOptionsForm.value.displayType === 'cards' ? 'flex' : 'none'
      "
      *ngIf="weatherData"
    >
      <mat-card *ngFor="let data of weatherData.daily.time; index as i">
        <mat-card-header>
          <mat-card-title>Day </mat-card-title>
          <mat-card-subtitle>{{ weatherData.daily.time[i] }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="display-cards__content">
            <mat-icon
              aria-hidden="false"
              aria-label="Sunrise"
              fontIcon="wb_twilight"
            ></mat-icon>
            <span> {{ weatherData.daily.sunrise[i].split("T")[1] }}</span>
          </div>
          <div class="display-cards__content">
            <mat-icon
              aria-hidden="false"
              aria-label="Sunset"
              fontIcon="nights_stay"
            ></mat-icon>
            <span>{{ weatherData.daily.sunset[i].split("T")[1] }}</span>
          </div>
          <div class="display-cards__content">
            <mat-icon
              aria-hidden="false"
              aria-label="Percipitation"
              fontIcon="water_drop"
            ></mat-icon>
            <span>{{ weatherData.daily.rain_sum[i] || 0 }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div [hidden]="weatherOptionsForm.value.displayType !== 'graph'">
      <canvas id="weatherChart"></canvas>
    </div>
  </div>
</main>
