main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20%;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .subheader {
    color: gray;
  }

  * ::ng-deep {
    overflow: visible !important;
  }

  .mdc-list-item__content {
    overflow: visible !important;
  }
}

.display {
  width: 100%;

  .display-cards {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    overflow: auto;

    > * {
      margin: 1em;
    }

    .display-cards__content {
      display: flex;
      align-items: center;
      min-width: 120px;
      margin: 1em 0.5em;

      span {
        margin-left: 0.5em;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(128, 0, 187);
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    filter: brightness(60%);
  }
}
